<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.Fit</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="banner">
        <h1></h1>
    </div>
    <style>
        body {
            margin: 0;
            height: 128vh;
            background-image: url('/static/images/cartoon-gym-with-machines.jpg'); 
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

    {% if user_logged_in %}
     <div><a href="/profile" id = "profileLink">Profile</a></div>
    {% else %}
     <div><a href="/login" id = "logLink">Login</a></div>
    {% endif %}

    <div class = "container">
        <h1>.Fit</h1>
        <!-- Switch Button -->
        <button id="switchButton">Switch to Calories Calculator</button>
        <h2 id="currentCalculator">BMI</h2>
        
        <!-- BMI Calculator Section -->
        <div id="bmiCalculator" class="calculator">
            <div class="inputs">
                <div class="input-group">
                    <label for="bmiHeight">Height (cm) </label>
                    <input type="number" id="bmiHeight" placeholder="Enter the height">
                </div>
                <div class="input-group">
                    <label for="bmiWeight">Weight (kg) </label>
                    <input type="number" id="bmiWeight" placeholder="Enter the weight">
                </div>
            </div>

            <div id = "BMIbtns">
             <button id="calculateBMI">Calculate BMI</button>
             <span id="clearBMI" class="clear-link">Clear</span>
            </div>

            <div class="Results">
                <h4>Results: </h4>
                <p>BMI: <span id="bmiResult">0</span></p>
                <p>Classification: <span id="bmiClassification">N/A</span></p>
            </div>
            <button id="saveBmiButton">Save Results</button>
            </a>
        </div>

        <!-- Calories Calculator Section (Initially Hidden) -->
        <div id="caloriesCalculator" class="calculator" style="display: none;">
            <div class="inputs">
                <div class="input-group">
                    <label for="caloriesAge">Age</label>
                    <input type="number" id="caloriesAge" placeholder="Enter your age">
                </div>
                <div class="input-group">
                    <label>Gender</label>
                    <input type="radio" id="genderMale" name="gender" value="male">
                    <label for="genderMale">Male</label>
                    <input type="radio" id="genderFemale" name="gender" value="female">
                    <label for="genderFemale">Female</label>
                </div>
                <div class="input-group">
                    <label for="caloriesHeight">Height (cm) </label>
                    <input type="number" id="caloriesHeight" placeholder="Enter the height">
                </div>
                <div class="input-group">
                    <label for="caloriesWeight">Weight (kg) </label>
                    <input type="number" id="caloriesWeight" placeholder="Enter the weight">
                </div>
                <div class="input-group">
                    <label for="activityLevel">Activity Level</label>
                    <select id="activityLevel">
                        <option value="sedentary">Sedentary: little or no exercise</option>
                        <option value="light">Light activity: light exercise/sports 1-3 days/week</option>
                        <option value="moderate">Moderate activity: moderate exercise/sports 3-5 days/week</option>
                        <option value="active">Active: hard exercise/sports 6-7 days a week</option>
                        <option value="super active">Super active: very hard exercise, physical job, or training twice a day</option>
                    </select>
                </div>
            </div>

            <div id  = "Caloriesbtns">
             <button id="calculateCalories">Calculate Calories</button>
             <span id="clearCalories" class="clear-link">Clear</span>
            </div>

            <div class="Results">
                <h4>Results: </h4>
                <p>To Lose Weight: <span id="caloriesLoseWeight"> Calories</span></p>
                <p>To Maintain Weight: <span id="caloriesMaintainWeight"> Calories</span></p>
                <p>To Gain Weight: <span id="caloriesGainWeight"> Calories</span></p>
            </div>
             <button id="saveCaloriesButton">Save Results</button>
            </a>
        </div>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
