<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <p id = "arrow">
        <a href="/"><img src="/static/images/arrow-left-circle-svgrepo-com.svg" alt="Icon description" width="40" height="40" /></a>
    </p>    
    <p id = "arrow"><i class="fa-solid fa-circle-arrow-left"></i></p>
    <h1>Profile</h1>
    <p id="userEmail"></p>
    <a href="/logout">Logout</a>

    <div class="container">
        <h1 class="title">Your Saved Results</h1>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">BMI <span class="counter">({{ bmi_results|length }})</span></h2>
                <div class="tabs">
                    {% if bmi_results %}
                        {% for result in bmi_results %}
                            <div class="tab">
                                <h3>BMI: {{ result.bmi }}</h3>
                                <p>Classification: {{ result.classification }}</p>
                                <p>Date : {{ result.date }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="tab">
                            <p>No BMI results saved yet.</p>
                        </div>
                    {% endif %}
                </div>
            </div>

            <div class="column">
                <h2 class="subtitle">Calories <span class="counter">({{ calories_results|length }})</span></h2>
                <div class="tabs">
                    {% if calories_results %}
                        {% for result in calories_results %}
                            <div class="tab">
                                <p>To Lose Weight: {{ result.loseWeight }}</p>
                                <p>To Maintain Weight: {{ result.maintainWeight }}</p>
                                <p>To Gain Weight: {{ result.gainWeight }}</p>
                                <p>Date: {{ result.date }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="tab">
                            <p>No Calories results saved yet.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="button-container">
        <button id="deleteAccountButton">Delete Account</button>
    </div>
        
    <script src="/static/js/profile.js"></script>
</body>
</html>
