<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/static/css/profile.css">
</head>
<body>
    <h1>Profile</h1>
    <a href="/logout">Logout</a>

    <div class="container">
        <h1 class="title">Your Saved Results</h1>
        <div class="columns">
            
            
            <div class="column">
                <h2 class="subtitle">BMI <span class="counter">(2)</span></h2>
                <div class="tabs">
                    <div class="tab" id="bmi1">BMI Result 1</div>
                    <div class="tab" id="bmi2">BMI Result 2</div>
                </div>
            </div>

            
            <div class="column">
                <h2 class="subtitle">Calories <span class="counter">(2)</span></h2>
                <div class="tabs">
                    <div class="tab" id="cal1">Calories Result 1</div>
                    <div class="tab" id="cal2">Calories Result 2</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>